@import "../../style.scss";


.repo-card-1 {
    width: 430px;
    height: 150px;
    background-color: transparent;
    border: 2px solid $textSoft;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
  }

  .repo-card-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
  }
  
  .repo-card-1-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .repo-card-1-name {
    font-family: $font;
    color: $textNeon;
    font-size: 25px;
    font-weight: bold;
  }

  .repo-card-1-badge {
    background-color: transparent;
    color: $textSoft;
    padding: 5px 10px;
    border: 1px solid $textSoft;
    border-radius: 28px;
    font-family: $font;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  


  .repo-card-1-language {
    font-family: $font;
    font-size: 20px;
    color: $textSoft;
    padding-top: 40px;
  }