@import '../../style.scss';

.user-content {
  display: flex;
  align-items: center;
  background-color: $bg;
  position: relative;
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.text {
  font-family: $font;
  font-size: 25px;
  color: $textBasic;
  padding-right: 100px;
}

.right-content .text {
  position: fixed;
  top: 0;
  padding-top: 180px;
  left: 600px;
}
